body { background: #fbae19; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 31px; display: flex; }
.block-cluster-0 { color: #f5bb97; font-size: 12px; margin-bottom: 5px; }
.block-database-1 { color: #ae6ec0; font-size: 18px; margin-bottom: 5px; }
.block-filter-2 { color: #9d6218; font-size: 21px; margin-bottom: 5px; }
.block-auth-3 { color: #6ee2d4; font-size: 19px; margin-bottom: 5px; }
.block-shipping-4 { color: #36e9f5; font-size: 14px; margin-bottom: 5px; }
.block-search-5 { color: #6327bd; font-size: 17px; margin-bottom: 5px; }